.row {
    .content {
        padding-bottom: 20px;
        .count-and-delete-all {
            display: flex;
            justify-content: space-between;
            .count {
                display: flex;
                h3 {
                    margin: auto;
                    margin-right: 0.4vw;
                    margin-bottom: 14px;
                }
                p {
                    margin: auto;
                    font-size: 18px;
                }
            }
            .deleteAll {
                margin-bottom: 15px;
            }
        }
        
        table{
            tr{
                .img{
                    width: 150px;
                    img{
                        width: 100%;
                    }
                }
                .name-delete{
                    width: 400px;
                    .name{
                        height: 100px;
                        margin-top: 20px;
                        font-size: 17px;
                    }
                    .delete{
                        font-weight: normal;
                        font-size: 13px;
                        cursor: pointer;
                        color: red;
                    }
                }
                .price{
                    padding-top: 60px;
                    text-align: right;
                    font-size: 22px;
                    width: 150px;
                }
                .quantity{
                    width: 80px;
                    padding-top: 60px;
                    input{
                        font-size: 18px;
                        width: 50px;
                        margin: 0;
                    }
                }
            }
        }
        .payment {
            .text {
                display: flex;
                justify-content: space-between;
                .total {
                    font-weight: bold;
                    color: red;
                }
            }
            button {
                margin-top: 20px;
                float: right;
            }
        }
    }
}